
//colors
$black: #000000;
$gray: #808080;
$yellow: #ffff00;
$red: #ff0000;
$green: #00ff00;
$white: #ffffff;
$color_celeste_approx: #ccc;
$color_silver_chalice_approx: #aaa;
$color_suva_gray_approx: #888;
$color_pink_swan_approx: #bbb;
$color_fuscous_gray_approx: #555;
$color_gallery_approx: #eee;
$color_blue_chalk_approx: #e6e6fa;
$color_plantation_approx: #2f4f4f;
$teal: #008080;
$white_40: rgba(255, 255, 255, 0.4);
$color_persimmon_approx: #ff6347;
$color_apple_approx: #32cd32;
$color_pizazz_approx: #ff8c00;
$web_orange: #ffa500;
$color_eastern_blue_approx: #20b2aa;
$color_malibu_approx: #87cefa;
$color_lucky_point_approx: #191970;
$color_cerulean_approx: #00bfff;
$royal_blue: #4169e1;
$color_ocean_green_approx: #3cb371;
$sea_green: #2e8b57;
$color_red_orange_approx: #f44336;
$golden_grass: #daa520;
$border_table : 1px solid black;
$box_shadow_active:1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
$font_size_button:16px;
$padding_button:16px 25px;
$background_button:#2F4F4F;
$color_button:#fff;
$border_button:1px solid #2F4F4F;
$border_button_red:1px solid #ff0000;
$border_button_green:1px solid #00ff00;
$border_button_orange:1px solid #ff8c00;
$border_radius_button:15px;
$background_hover_button:#008080;
$background_hover_button_red:#FF6347;
$background_hover_button_green:#7FFF00;
$background_hover_button_orange:#FFA500;
$font_size_button_small:12px;
$padding_button_small:12px 20px; 
$border_radius_button_small:12px;
$font_size_button_large:22px; 
$padding_button_large:30px 45px;
$border_radius_button_large:20px;
$border_radius_button_flat:0;
$border_button_flat:none;
$transition_duration_fancy:.6s;
$font_size_fancy:30px;
$transform_hover_fancy:rotateX(360deg);
$border_fancy:1px solid #191970;
$box_shadow_fancy:1px 1px 10px #000000 inset, 0 1px 0 rgba(255, 255, 255, 0.4);
$transform_active_fancy:translateY(3px);
$padding_alert:20px;
$background_alert:#00BFFF;
$background_hover_alert:#4169E1;
$background_alert_succes:#3cb371;
$background_hover_alert_succes:#2e8b57;
$background_alert_danger:#f44336;
$background_hover_alert_danger:#ff0000;
$background_alert_warning:#ffa500;
$background_hover_alert_warning:#daa520;
$num_col: 12;
$gutter_grid:2%;
$Aquamarine:#7FFFD4;
$backg_nav:#333;
$padding_li:2%;
$margin_nav:0;
$background_disabled:#A9A9A9;
$background_active:		#87CEEB;
$color_disabled:#808080;
$background_liHover:#111;
$background_liDsiHover:	#696969;
$background_color_input:#fff;
$border_input:solid 1px #ccc;
$padding_input:9px 10px 9px 32px;
$border_radius_input:10em;
$transition_input:width 0.6s ease-in-out;
$width_hover_input: 350px;
$border_color_hover:#66CC75;
// fonts
$fontArial: Arial;
$fontVerdana: Verdana;
$fontHelvetica: Helvetica;
$fontSans-serif: sans-serif;
$fontMonospace: monospace;
$fontTimes: "Times New Romain";
$fontSerif: serif;